/* Container principal */
.reservas-container {
    background-color: rgba(252, 252, 252, 0.9);
    color: black;
    padding: 40px;
    border-radius: 12px;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
.reservas-titulo {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 120px;
}

/* Seção de imagens e formulário lado a lado */
.reserva-conteudo {
    display: flex;
    width: 80%;
    max-width: 1200px;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

/* Imagens à esquerda */
.reserva-info {
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
}

/* Imagem principal */
.reserva-imagem-principal {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.reserva-imagem-principal:hover {
    transform: scale(1.02);
}

/* Miniaturas */
.miniaturas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.reserva-imagem-miniatura {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border 0.2s ease-in-out;
    border: 3px solid transparent;
}

.reserva-imagem-miniatura:hover {
    transform: scale(1.1);
}

.reserva-imagem-miniatura.selecionada {
    border: 3px solid #0071c2;
}

/* Formulário à direita */
.reserva-form {
    width: 45%;
    height: 330px;
    background-color: white;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Descrição abaixo */
.descricao-container {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;

}